<ion-view>
   <ion-content>
       <div class="container-fluid">
         <div class="page-header">
             <img src="connectdneedy.png" style="width:100%;"></img>
         </div>
         <div class="row"  style="margin:20px;">
            <div class="row">
               <div class="row">
                  <div id="NavButtons" class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                     <h3>
                     To proceed, please Click on the appropriate button below 
                     <h3>
                     <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ><a href="#/provider">I can help with some thing</a></li>
                        <li role="presentation"><a href="#/seeker" >I am a help seeker</a></li>
                        <li role="presentation"><a href="#/volunteer">I want to be a Volunteer</a></li>
                     </ul>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                     <img src="footer.png" style="width:100%;"></img>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </ion-content>
</ion-view>