<ion-view>
   <ion-content>
       <div data-tap-disabled="true" id="loginForm">
      <div style="margin: 20px;">
         <h3>Please enter your login details</h3>
         <form id="login" name="authorizationForm" ng-submit="signIn(authorizationForm)">
            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control" name = "email" id="email" placeholder="Email" required />
            </div>
            <div class="form-group">
               <label for="password">Password</label>
               <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
            </div>
            <div class="checkbox">
               <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button></br>
            <a href="/signup">Don't have an account?</a>
          
          </form>
      </div>
     
    </div>
   </ion-content>
</ion-view>